<div style="height: 60px;">
	<p class="flash-message text-danger"><%= flash[:destroyed] %></p>
</div>

<div class="container mw-100">
	<div class="row">
		<div class="mb-4 pl-4 col-3">
			<p class="h2 text-center text-secondary">User info</p>
			<%= attachment_image_tag current_user, :profile_image, fallback: "no_image.jpg",:size =>'100x100' %>
			<div class="mb-2">
				<table class="table">
					<tr>
						<td>name</td>
						<td><%= current_user.name %></td>
					</tr>
					<tr>
						<td>introduction</td>
						<td><%= current_user.introduction %></td>
					</tr>
				</table>
			</div>
			<p><%= link_to "ユーザー編集", edit_user_path(current_user), class: "btn btn-success text-center" %></p>
			<p class="h2 text-center text-secondary">NewBook</p>
			<div class="form-group text-center">
				<%= form_for(@post) do |f| %>

				<label for="form-title">Title</label>
				<%= f.text_field :title, class: "form-control mb-2", id: "form-title", placeholder: "本のタイトル" %>

				<label for="form-body">Body</label>
				<%= f.text_area :body, class: "form-control", id: "form-body", placeholder: "ここに本文を入れてください", rows:"10" %>

				<%= f.submit 'Create Book', class: "mt-3 btn btn-success" %>

				<% end %>
			</div>
		</div>

		<div class="mb-4 pr-4 col-9">
			<p class="h2 col-9 text-center text-secondary">Users</p>
			<table class="table table-hover book-table">
				<thead>
					<tr class="bg-info text-white">
						<th class="columm-1">image</th>
						<th class="columm-2">name</th>
						<th class="columm-3"></th>
					</tr>
				</thead>

				<% @users.each do |user| %>
				<tbody>
					<tr class="small">
						<td class="text-truncate columm-1"><%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg",:size =>'40x40' %></td>
						<td class="text-truncate columm-2"><%= user.name %></td>
						<td class="text-truncate columm-3"><%= link_to "show",user_path(user) %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>