<div style="height: 60px;">
	<p class="flash-message text-danger"><%= flash[:destroyed] %></p>
</div>

<div class="container mw-100">
	<div class="row">
		<% if @user.id == current_user.id %>
			<%= render 'list/list', {post: @post, user: current_user} %>
		<% else %>
			<%= render 'list/list', {post: @post, user: @user} %>
		<% end %>

		<div class="mb-4 pr-4 col-9">
			<% if @user.id == current_user.id %>
				<p class="h2 text-center text-secondary"><i class="fa fa-book mr-1"></i>My books</p>
			<% else %>
				<p class="h2 text-center text-secondary"><i class="fa fa-book mr-1"></i>Books</p>
			<% end %>

			<table class="table table-hover book-table">
				<thead>
					<tr class="bg-info text-white">
						<th class="columm-1 text-white">title</th>
						<th class="columm-2 text-white">body</th>
						<th class="columm-3 text-white">date</th>
					</tr>
				</thead>

				<% @post_book.each do |post_book| %>
				<tbody>
					<tr class="small">
						<td class="text-truncate columm-1"><%= link_to post_book.title, post_book_path(post_book.id) %></td>
						<td class="text-truncate columm-2"><%= post_book.body %></td>
						<td class="text-truncate columm-3"><%= post_book.created_at.strftime('%Y/%m/%d') %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>