<section>
  <div class="container">
    <div class="row">
      <div class="col-4">

      </div>

      <div class="col-4 mt-5">
        <p class="h2 font-secondary font-weight-bold text-center"><i class="fa fa-sign-in mr-1 text-info"></i>ログイン</p>
        <p class="text-center">ユーザー名と<br>パスワードを入力してください。</p>
        <%= devise_error_messages! %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"ユーザーネーム"%>
        </div>
        <div class="mt-3">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputEmail", placeholder:"パスワード" %>
        </div>
        <p class="text-center"><%= f.submit "ログイン", class:"btn btn-lg btn-info mt-4" %></p>
        <% end %>

        <p class="text-center mt-4">
          <%= link_to new_user_registration_path, method: :get do %>
          <span class="btn btn-sm btn-dark"><i class="fa fa-user-plus mr-1 text-white"></i>サインアップ画面へ</span>
          <% end %>
        </p>

        </div>
      </div>
    </div>
  </div>
</section>