<section>
  <div class="container">
    <div class="row">
      <div class="col-4">

      </div>

      <div class="col-4 mt-5">
        <p class="h2 text-center">ユーザーログイン</p>
        <p class="h4 text-center">ユーザー名と<br>パスワードを入力してください。</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"ユーザーネーム"%>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputEmail", placeholder:"パスワード" %>
        </div>
          <%= f.submit "サインイン", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</section>