<div style="height: 60px;">
	<p class="flash-message text-danger"><%= flash[:destroyed] %></p>
</div>

<div class="container mw-100">
	<div class="row">
		<%= render 'list/list', {post: @post, user: current_user} %>

		<div class="mb-4 pr-4 col-9">
			<p class="h2 col-9 text-center text-secondary">Books</p>
			<table class="table table-hover book-table">
				<thead>
					<tr class="bg-info text-white">
						<th class="columm-1">image</th>
						<th class="columm-2">name</th>
						<th class="columm-3"></th>
					</tr>
				</thead>

				<% @post_books.each do |book| %>
				<tbody>
					<tr class="small">
						<td class="text-truncate columm-1"><%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", :size =>'40x40' %></td>
						<td class="text-truncate columm-2"><%= link_to book.title, post_book_path(book) %></td>
						<td class="text-truncate columm-3"><%= book.body %></td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>