<div class="mb-4 pl-4 col-3">
	<p class="h2 text-center text-secondary">User info</p>
	<div class="text-center my-3">
		<%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", class:"text-center rounded-circe mw-100" %>
	</div>
	<div class="mb-2">
		<table class="table ta info-table">
			<tr>
				<th class="bg-secondary rounded-top text-white">name</th>
			</tr>
			<tr>
				<td class="bg-light text-dark"><%= user.name %></td>
			</tr>
			<tr>
				<th class="bg-secondary text-white">introduction</th>
			</tr>
			<tr>
				<td class="bg-light rounded_bottom text-dark"><%= user.introduction %></td>
			</tr>
		</table>
	</div>
	<p class="text-center"><%= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-outline-secondary text-center" %></p>
	<p class="h2 text-center text-secondary">NewBook</p>
	<div class="form-group text-center">
		<%= form_for(post) do |f| %>

		<label for="form-title">Title</label>
		<%= f.text_field :title, class: "form-control mb-2", id: "form-title", placeholder: "本のタイトル" %>

		<label for="form-body">Body</label>
		<%= f.text_area :body, class: "form-control", id: "form-body", placeholder: "ここに本文を入れてください", rows:"10" %>

		<%= f.submit 'Create Book', class: "mt-3 btn btn-success" %>

		<% end %>
	</div>
</div>