<!DOCTYPE html>
<html>

<head>
	<title>Bookers2</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header class="bg-info">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<h1 class="header-title">Bookers</h1>
			</div>

			<div class="col-8">
			<% if user_signed_in? %>
				<nav>
					<ul class="nav justify-content-end align-items-center" style="height: 70px; text-decoration: none;">
						<%= link_to user_path(current_user.id), method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-home mr-1 text-white"></i>Home</li>
						<% end %>
						<%= link_to users_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-users mr-1 text-white"></i>Users</li>
						<% end %>
						<%= link_to post_books_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-book mr-1 text-white"></i>Books</li>
						<% end %>
						<%= link_to destroy_user_session_path, method: :delete do %>
							<li class="nav-item nav-li"><i class="fa fa-sign-out mr-1 text-white"></i>logout</li>
						<% end %>
					</ul>
				</nav>

			<% else %>
				<nav>
					<ul class="nav justify-content-end align-items-center">
						<%= link_to top_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-home mr-1 text-white"></i>Home</li>
						<% end %>
						<%= link_to about_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-gg mr-1 text-white"></i>About</li>
						<% end %>
						<%= link_to new_user_registration_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-user-plus mr-1 text-white"></i>sign up</li>
						<% end %>
						<%= link_to new_user_session_path, method: :get do %>
							<li class="nav-item nav-li"><i class="fa fa-sign-in mr-1 text-white"></i>login</li>
						<% end %>
					</ul>
				</nav>
			<% end %>
			</div>
		</div>
	</div>
</header>

<body>

    <%= yield %>

</body>

</html>